body {
  font-family: sans-serif;
  color: #fff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      rgba(52, 83, 218, 0.8),
      rgba(35, 35, 160, 0.7)
    ),
    url(https://funix.edu.vn/wp-content/uploads/2022/06/hoc-lap-trinh-funix.jpeg);
  background-size: cover;
}
/* TIEU DE */
.header {
  text-align: center;
  padding-bottom: 50px;
}
#description {
  font-style: italic;
  font-weight: 200;
}
.container {
  width: 100%;
  margin: 100px auto 0 auto;
}

/* BIEU MAU */

form {
  background-color: rgba(54, 54, 56, 0.8);
  padding: 60px 50px;
  border-radius: 5px;
}
.form-item {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-null {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 15px;
}

.submit-button {
  background-color: #1c7ed6;
  color: #fff;
  font-size: 18px;
}
#comments {
  margin-bottom: 15px;
}
/* NHAN */

label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 15px;
}
/* RESPONSIVE */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
. @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
